.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 50px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.header h2 {
  width: 233px;
  height: 79px;
  cursor: pointer;
  background-color: var(--brand1);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header a:visited {
  color: black;
  font-weight: bold;
}

.header nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;

  font-size: 24px;
  font-weight: 500;
}

.header nav ul a:visited {
  color: white;
}

.header_image {
  width: 233px;
  height: 79px;

  cursor: pointer;
}
