.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 50px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  z-index: 10;
  opacity: 100%;
}

.header h2 {
  width: 233px;
  height: 79px;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}

.header h2:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.header a:visited {
  color: black;
  font-weight: bold;
}

.header nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;

  font-size: 24px;
  font-weight: 500;
}

.header nav ul li {
  transition: background-color 0.5s ease;
  padding: 13px;
  border-radius: 10px;
}

.header nav ul li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.header nav ul a:visited {
  color: white;
}

.header_image {
  width: 233px;
  height: 79px;

  cursor: pointer;
}
