.main-films {
  min-height: 100vh;
}

.title-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 28px;
}

.filter-divs {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.filter-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.filter-movies select {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 3px;
  border: none;
  padding: 10px;
  outline: none;
  background-color: none;
}

.filter-movies select option {
  background-color: white;
}
