.filter-div {
  width: 90%;

  border-radius: 20px;
}

.filter-div ul {
  display: flex;
  flex-direction: row;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.filter-div ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 13px;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.filter-div ul li img {
  width: 190px;
  height: 190px;
  border-radius: 4px;
  transition: ease 0.5s;
}

.filter-div ul li img:hover {
  /* box-shadow: 0px 0px 2px 0px var(--brand1); */
  box-shadow: 0px 0px 6px 0px var(--brand1);
}
