.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 50px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.header nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;

    font-size: 24px;
    font-weight: bold;
}

.header_image {
    width: 273px;
    height: 94px;

    cursor: pointer;
}



